/*@import url(base.css);
@import url(theme.light.css);
@import url(theme.dark.css);*/
@tailwind base;
@tailwind components;
@tailwind utilities;
/*@layer base {
    :root  {
        @media (prefers-color-scheme: light) {
            .theme, .theme.light {
                --color-text-base: red;
                --color-text-muted: #c7d2fe;
                --color-text-inverted: #4f46e5;

                --color-fill: green;
                --color-button-accent: #ffffff;
                --color-button-accent-hover: #eef2ff;
                --color-button-muted: #6366f1;

            }
        },
    @media (prefers-color-scheme: dark) {
        .theme, .theme.dark {
            --color-text-base: #ffffff;
            --color-text-muted: #c7d2fe;
            --color-text-inverted: #4f46e5;

            --color-fill: #4338ca;
            --color-button-accent: #ffffff;
            --color-button-accent-hover: #eef2ff;
            --color-button-muted: #6366f1;
        }
    }

        !**
         * Tailwindcss
         *!
     !*   --color-primary-50: 252 254 254;
        --color-primary-100: 250 252 253;
        --color-primary-200: 241 248 250;
        --color-primary-300: 233 243 247;
        --color-primary-400: 217 234 241;
        --color-primary-500: 200 225 235;
        --color-primary-600: 180 203 212;
        --color-primary-700: 120 135 141;
        --color-primary-800: 90 101 106;
        --color-primary-900: 60 68 71;

        --color-primary-50: 244 244 245;
        --color-primary-100: 233 234 234;
        --color-primary-200: 200 201 204;
        --color-primary-300: 167 169 173;
        --color-primary-400: 100 105 111;
        --color-primary-500: 34 40 49;
        --color-primary-600: 31 36 44;
        --color-primary-700: 20 24 29;
        --color-primary-800: 15 18 22;
        --color-primary-900: 10 12 15;*!
    }*/

 /*   .theme-swiss {
        --color-text-base: #ffffff;
        --color-text-muted: #fecaca;
        --color-text-inverted: #dc2626;

        --color-fill: #b91c1c;
        --color-button-accent: #ffffff;
        --color-button-accent-hover: #fef2f2;
        --color-button-muted: #ef4444;
    }

    .theme-rotyre {
        --color-text-base: #222831;
        --color-text-muted: #5A6A82;
        --color-text-inverted: #C8E1EB;

        --color-fill: #C8E1EB;
        --color-button-accent: #222831;
        --color-button-accent-hover: #15191F;
        --color-button-muted: #D3E7EF;
    }

    .theme-rotyre-dark {
        --color-text-base: #C8E1EB;
        --color-text-muted: #DEEDF3;
        --color-text-inverted: #222831;

        --color-fill: #222831;
        --color-button-accent: #C8E1EB;
        --color-button-accent-hover: #B2D5E3;
        --color-button-muted: #3B4555;
    }
}*/